//Importing
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,300);

//Variables
@color1: #00afff;
@color2: #1930bf;
@color3: #4c507f;
@color4: #ff9930;
@color5: #d94d0f;
@lighttext: #fff;

@font: font-family;
@head: "Roboto Condensed";
@body: "Roboto";

@lineheight: 1.4em;

//Type Styles
body{
	font-size:1em;
	line-height:@lineheight;
}


h1,h2,h4,h5{
	@font:@head;
	line-height:@lineheight;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.6em;
}
h3{
	@font:@body;
	font-size: 1.2em;
}
h4{
}

p{
	font-size:.9em;
}

a{
	color:@color1;
}

//Sitewide
*{
	padding:0;
	margin:0;
}

body{
	background-color: @color2;
	@{font}:@body;
}

header.top{
	width:100%;
	height:@lineheight+1em;

	background:#fff;
	
	z-index:3;
	position:fixed;
	left:0;
	top:0;

	.logo{
		padding:0;
		height:@lineheight+1em;

		picture, img{
			height:90%;
			margin:5% 0;
			width:auto;
		}
		
	}
	
	nav{
		ul{
			list-style:none;
			text-align:center;
			width:100%;
			float:left;
			li{
				display:inline-block;
				float:left;
				width:20%;
				a{
					color:@color2;
					text-decoration:none;
					display:inline-block;

					height:@lineheight;
					width:100%;
					padding:.5em 0;

					@{font}:@head;
				}
				a:hover{
					color:@lighttext;
					background:@color1;
				}
			}
		}
	}
}

article{
	width:100%;
	color:@lighttext;
}

#home{
	padding-top: @lineheight+1em;

	header{
		text-align:center;

	}
}