//Importing
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:400,300);

//Variables
@color1: #00afff;
@color2: #1930bf;
@color3: #4c507f;
@color4: #ff9930;
@color5: #d94d0f;
@lighttext: #fff;

@font: font-family;
@head: "Roboto Condensed", sans-serif;
@body: "Roboto", sans-serif;

@lineheight: 1.4em;

//Type Styles
body{
	@{font}:@body;
	font-size:1em;
	line-height:@lineheight;
}


h1, h2, h3, h4, h5{
	@{font}:@head;
	line-height:@lineheight;
	margin:0;
}
h1{
	font-size:2em;
	font-weight:340;
}
h2{
	font-size:1.6em;
	font-weight:300;
}
h3{
	@{font}:@body;
	font-size: 1em;
	font-weight:300;
}
h4{
	font-size:1em;
	font-weight:300;
}

article{
	p, dl, ul{
		font-size:.9em;
		line-height:1.6em;
	}
}

figcaption{
	@{font}:@body;
	font-weight:300;
	font-size:.8em;
	text-align:center;
}

a{
	color:@color1;
	text-decoration:none;
}

//Sitewide
*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

body{
	background-color: @color2;
}

header.top{
	width:100%;
	height:@lineheight+1em;

	background:#fff;
	
	z-index:3;
	position:fixed;
	left:0;
	top:0;

	.logo{
		padding:0;
		height:@lineheight+1em;

		img{
			height:2em;
			margin:.2em 0;
			width:auto;
		}
		
	}
	
	nav{

		ul{
			list-style:none;
			text-align:center;
			width:100%;
			float:left;
			li{
				display:inline-block;
				float:left;
				width:20%;
				a{
					display:inline-block;
					height:@lineheight+1em;
					width:100%;
					padding:.5em 0;

					color:@color2;
					text-decoration:none;
					@{font}:@head;
				}
				a:hover{
					background:@color1;
					color:@lighttext;
				}
				ul{
					display:none;
					background:#fff;
					width:6em;
					li{
						float:none;
						display:inline;

					}
				}
			}
			li:hover{
				ul{
					display:block;
				}
			}
		}
	}
}

article{
	width:100%;
	padding:@lineheight+1em 5% 3em;
	color:@lighttext;
}

header{
	text-align:center;

	h1{
		margin:.4em 0;
	}
	h2{
		margin:.4em 0;
	}
}

#home{
	.icons{
		margin:3em 0;
		display:inline-block;
		width:100%;

		figure{
			float:left;
			width:40%;
			margin: 20px 5%;
			text-align:center;
		}
	}	
}

#about{
	background:@color4;
	section{
		padding:@lineheight+1em 0 0;

		figure{
			width:40%;
			margin:1em auto;
			text-align:center;

			img{
				width:3em;
				height:3em;
			}
		}
		dl{
			dt{
				font-weight:lighter;
				font-size:1.2em;
				margin:1em 0 0;
			}
			dd{
				margin-left:1em;
			}
		}

	}
}

#contact{
	background:@color3;

	form{
		width:80%;
		margin: 2em auto 0;
		p{
			margin: 0;

			label{
				margin:1em 0 .4em;
				float:left;
			}
			input, textarea{
				width:90%;
				margin-left:10%;
				padding:.6em;
			    font-size: 1em;
			    border-radius:.2em;
			    border:1px solid #ccc;
			    float:right;
			}
			button{
				padding: 1em 1em .8em 1em;
			    background:fff;
			    border: 1px solid #ccc;
			    margin: 1em 0 0 10%;
			    border-radius:.2em;
			    width: 6em;
			}
		}
	}
}

footer{
	background:#fff;
	width:100%;
	height:3em;
	padding:1em;
	font-size:.8em;
	line-height:.8em;

	p{
		float:left;
		margin:0;
	}
	aside{
		float:right;
	}
}

@media (max-width: 22em){
	body{
		font-size:.9em;
	}
}

@media (min-width:34em){
	body{
		max-width:51em;
		font-size:1em;
	}

	#home{
		header{
			margin:5em 0 0;
		}

		.icons{
			figure{
				width:15%;
			}
		}
	}

	#about{
		section{
			figure{
				width:15%;
				float:left;
			}
			p, dl{
				width:70%;
				margin:0 10% 0 20%;

			}
		}
		#extras{
			dl{
				width:35%;
				margin:0 10% 0 0;
				float:right;
			}
			dl:last-child{
				margin-right:5%;
				width:30%;
			}
		}
	}

	#contact{
		form{
			max-width:24em;
			margin:0 auto;
		}
	}
}

@media (min-width:51em){
	body{
		max-width:68em;
	}
}

@media (min-width:68em){
	body{
		max-width: 112em;
		margin:0 auto;
	}
}